<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ALL" class="ch.qos.logback.core.FileAppender">
		<file>/home/coding/chess.log</file>
		<append>false</append>
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ENGINE" class="ch.qos.logback.core.FileAppender">
		<file>/home/coding/chess-engine.log</file>
		<append>false</append>
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>ENGINE</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>NEUTRAL</onMatch>
		</filter>
	</appender>

	<appender name="FILE_MOVE" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<file>/home/coding/chess-move.log</file>
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>MOVE</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>NEUTRAL</onMatch>
		</filter>
	</appender>

	<appender name="FILE_ENGINE_RAW" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<file>/home/coding/chess-engine-raw.log</file>
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>ENGINE_RAW</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>NEUTRAL</onMatch>
		</filter>
	</appender>

	<appender name="FILE_GAME" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<file>/home/coding/chess-game.log</file>
		<encoder>
			<pattern>[%d{hh:mm:ss:sss z}] %5p [%thread] %c{2}: %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>GAME</marker>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>NEUTRAL</onMatch>
		</filter>
	</appender>

	<root>
		<appender-ref ref="FILE_ALL" />
		<appender-ref ref="FILE_ENGINE" />
		<appender-ref ref="FILE_MOVE" />
		<appender-ref ref="FILE_GAME" />
		<appender-ref ref="FILE_ENGINE_RAW" />
	</root>
</configuration>  
